@import url("https://res.cloudinary.com/finnhvman/raw/upload/matter/matter-0.2.2.min.css");

* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --matter-theme-rgb: 0, 205, 171;
    --matter-onsurface-rgb:2, 48, 41;
    --matter-surface-rgb:255, 255, 255;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    --matter-helper-theme: var(--matter-theme-rgb,var(--matter-primary-rgb,33,150,243)); color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(var(--matter-onsurface-rgb,0,0,0),0.8);
}

body {
    background: linear-gradient(rgba(var(--matter-helper-theme),0.35), rgba(var(--matter-helper-theme),0.35)), linear-gradient(0deg, rgb(var(--matter-surface-rgb)), rgb(var(--matter-surface-rgb)));
}

.google-logo {
    background-image: url(https://cdn.glitch.com/af261e83-0280-4f98-8c0e-6e69d0b7594f%2Fg-logo.png?v=1600888002466);
}

.github-logo {
    background-image: url(https://cdn.glitch.com/af261e83-0280-4f98-8c0e-6e69d0b7594f%2FGitHub-Mark-120px-plus.png?v=1600992711566);
}

.logo-chip > *:first-child {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

span.minty-logo {
    width: 2em;
    height: 2em;
    background: url(data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1686 1686">%0A  <defs>%0A    <linearGradient id="d">%0A      <stop offset="0" stop-color="#06cece"/>%0A      <stop offset=".7" stop-color="#05b89a"/>%0A      <stop offset="1" stop-color="#05ab8d"/>%0A    </linearGradient>%0A    <linearGradient id="c">%0A      <stop offset="0" stop-color="#06dac1"/>%0A      <stop offset=".7" stop-color="#06dac1"/>%0A      <stop offset=".8" stop-color="#06dac1" stop-opacity=".2"/>%0A      <stop offset="1" stop-color="#06dac1" stop-opacity="0"/>%0A    </linearGradient>%0A    <linearGradient id="b">%0A      <stop offset="0" stop-color="#05c2a4"/>%0A      <stop offset=".5" stop-color="#02a68c"/>%0A      <stop offset="1" stop-color="#00947d"/>%0A    </linearGradient>%0A    <linearGradient id="a">%0A      <stop offset="0" stop-color="#06dac1"/>%0A      <stop offset=".5" stop-color="#06dac1"/>%0A      <stop offset=".7" stop-color="#06dac1" stop-opacity=".1"/>%0A      <stop offset="1" stop-color="#06dac1" stop-opacity="0"/>%0A    </linearGradient>%0A    <linearGradient id="g" x1="800.4" x2="800.4" y1="338" y2="810.9" gradientUnits="userSpaceOnUse" xlink:href="#c"/>%0A    <radialGradient id="e" cx="817" cy="-391.5" r="365.9" fx="817" fy="-391.5" gradientTransform="matrix(0 .28147 -2.50487 .00006 -163.6 321)" gradientUnits="userSpaceOnUse" xlink:href="#d"/>%0A    <filter id="f" width="1.3" height="1.1" x="-.1" y="-.1" color-interpolation-filters="sRGB">%0A      <feGaussianBlur stdDeviation="15.2"/>%0A    </filter>%0A  </defs>%0A  <rect width="268.4" height="615.6" x="693.7" y="333.7" fill="none" stroke="#076b60" stroke-linecap="round" stroke-linejoin="round" stroke-width="60.1" rx="134.2"/>%0A  <path fill="url(#e)" d="M460.5 592.4h731.9v47.2H460.5z"/>%0A  <rect width="268.4" height="615.6" x="693.7" y="333.7" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24.6" filter="url(#f)" opacity=".3" rx="134.2" transform="matrix(1.0401 0 0 .9555 -33.2 28.6)"/>%0A  <path fill="#00cdab" d="M1228 639.6v689.8a56.6 56.6 0 01-56.6 56.7H481.5a56.6 56.6 0 01-56.7-56.7V639.6z"/>%0A  <path fill="#049b84" d="M1192.4 592.4v47.2h35.7zM460.5 592.4l-35.7 47.2h35.7z"/>%0A  <path style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;isolation:auto;mix-blend-mode:normal;solid-color:#000;solid-opacity:1" fill="url(#g)" d="M828 288.2c-115.8 0-210 94.3-210 210v292c0 115.7 94.2 210 210 210 115.6 0 209.9-94.3 209.9-210v-292c0-115.7-94.3-210-210-210zm0 70c78 0 139.8 61.9 139.8 140v292c0 78.1-61.8 140-139.9 140-78.1 0-140-61.9-140-140v-292c0-78.1 61.9-140 140-140z" color="#000" enable-background="accumulate" font-family="sans-serif" font-weight="400" overflow="visible"/>%0A</svg>);
    border-radius: 20%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
}

.logo-chip {
    display: inline-flex;
    font-size: 28px;
    width: 34px;
    height: 34px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    left: -16px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.signin, .signout, .buy-minty, .activate-minty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    color: rgba(var(--matter-onsurface-rgb,0,0,0),0.8);
    width: fit-content;
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

.signin {
    display: none;
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background: rgb(var(--matter-surface-rgb));
    border-radius: 1.5rem;
    padding: 1rem;
    width: 22rem;
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    text-align: center;
    min-height: 23rem;
    grid-template-rows: 4rem;
}

.card>* {
    margin: 0;
}

.status {
    color: rgba(var(--matter-onsurface-rgb,0,0,0),0.8);
}

@media (prefers-color-scheme: dark) {
    :root {
        --matter-onsurface-rgb:216, 237, 234;
        --matter-surface-rgb:0, 0, 0;
    }
}

@media (max-width: 400px) {
    .card {
        position: fixed;
        width: 100%;
        height: calc(100% - 3rem);
        bottom: 0;
        overflow: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-bottom: 4rem;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 4rem;
        opacity: 0.75;
    }
}

.logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 4rem;
    font-size: 2rem;
}

img.avatar {
    width: 2.5em;
    height: 2.5em;
    object-fit: cover;
    border-radius: 50%;
}

#status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#status>* {
    margin: 0;
    margin-bottom: 1rem;
}

a:link.footer, a:hover.footer, a:visited.footer, a:active.footer {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.emoji {
    height: 1.2em;
    width: 1.2em;
    margin-bottom: -0.15em;
}

.matter-button-outlined:disabled {
    color: rgba(var(--matter-onsurface-rgb,0,0,0),.6);
}
