/* CSS files add styling rules to your content */
@import url("https://res.cloudinary.com/finnhvman/raw/upload/matter/matter-0.2.2.min.css");
* {
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --matter-theme-rgb: 76, 175, 80; }

h2 {
    --matter-helper-theme: var(--matter-theme-rgb,var(--matter-primary-rgb,33,150,243));
    color: transparent;
    background: linear-gradient(45deg, rgba(var(--matter-helper-theme),0.3), rgba(var(--matter-helper-theme),0.3)), linear-gradient(45deg, black, black);
    -webkit-background-clip: text;
    background-clip: text;
}

div#status {
    --matter-helper-theme: var(--matter-theme-rgb,var(--matter-primary-rgb,33,150,243)); color: transparent;
    background: linear-gradient(45deg, rgba(var(--matter-helper-theme),0.1), rgba(var(--matter-helper-theme),0.1)), linear-gradient(45deg, black, black);
    -webkit-background-clip: text;
    background-clip: text;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    --matter-helper-theme: var(--matter-theme-rgb,var(--matter-primary-rgb,33,150,243));
    color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(var(--matter-helper-theme),0.05), rgba(var(--matter-helper-theme),0.05)), linear-gradient(45deg, white, white);
}

span.google-logo {
    width: 1em;
    height: 1em;
    background: url(https://cdn.glitch.com/af261e83-0280-4f98-8c0e-6e69d0b7594f%2Fg-logo.png?v=1600888002466);
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

span.minty-logo {
    width: 4em;
    height: 4em;
    background: url(https://cdn.glitch.com/af261e83-0280-4f98-8c0e-6e69d0b7594f%2Fminty-logo.PNG?v=1600890952283);
    border-radius: 1em;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}


.logo-chip {
    display: inline-flex;
    font-size: 28px;
    width: 36px;
    height: 36px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    left: -16px;
}

.signin {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f2f2f2;
    color: #191919;
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background: #fff;
    border-radius: 1.5rem;
    padding: 1rem;
    padding-left: 0.5rem
    width: 20rem;
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    text-align: center;
    height: 15rem;
}

.card>* {
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    :root{
        --matter-onsurface-rgb: 255,255,255;
    }
    body {
        background: linear-gradient(rgba(var(--matter-helper-theme),0.05), rgba(var(--matter-helper-theme),0.05)), linear-gradient(45deg, #191919, #191919);
        color: #f2f2f2;
    }
    .card{
        background: #000;
    }
    h2 {
    --matter-helper-theme: var(--matter-theme-rgb,var(--matter-primary-rgb,33,150,243));
    color: transparent;
    background: linear-gradient(45deg, rgba(var(--matter-helper-theme),0.3), rgba(var(--matter-helper-theme),0.3)), linear-gradient(45deg, white, white);
    -webkit-background-clip: text;
    background-clip: text;
}

div#status {
    --matter-helper-theme: var(--matter-theme-rgb,var(--matter-primary-rgb,33,150,243)); color: transparent;
    background: linear-gradient(45deg, rgba(var(--matter-helper-theme),0.1), rgba(var(--matter-helper-theme),0.1)), linear-gradient(45deg, white, white);
    -webkit-background-clip: text;
    background-clip: text;
}
}

@media (max-width: 25rem) {
    .card {
        position: fixed;
        top: 3rem;
        width: 100%;
        height: calc(100% - 3rem);
        overflow: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        justify-content: center;
    }
}

.status { color: #191919; }
@media (prefers-color-scheme: dark) { .status { color: #f2f2f2; } }