span.minty-logo {
    width: 2em;
    height: 2em;
    background: url('../images/logo.svg');
    border-radius: 20%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
